/* Basic Styles */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0; /* Remove default margin from body */
    padding: 0; /* Remove default padding from body */
    color: #C3765C; /* Set text color */
    background-color: #c4e7e7; /* Set background color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.account-info p {
    margin-bottom: 20px;
}

/* Logout Button */
.btn-logout {
    padding: 10px 20px;
    background-color: #2C3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #0056b3;
}

/* Center Text */
.text-center {
    text-align: center;
}