.container {
  background-color: #d3eeee; /* Changed to a lighter color */
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Added a subtle shadow */
}

h1 {
  color: #333; /* Changed text color to dark */
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  font-size: 18px; /* Reduced font size for better proportion */
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Added margin bottom for better spacing */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555; /* Changed label color to a darker shade */
}

button[type="submit"] {
  background-color: #76dded; /* Changed button color to a primary blue */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Added transition for hover effect */
}

button[type="submit"]:hover {
  background-color: #008fb3; /* Darker shade of blue on hover */
}

  