/* cities page css file */
:root {
    --clr-table: rgba(0, 0, 0, 0.75);
}

table {
    border: 1px solid var(--clr-table);
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid var(--clr-table);
    padding: 0.25rem 1rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
}

thead {
    background-color: var(--clr-table);
}

thead th {
    color: whitesmoke;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.fit {
    width: 1px;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.number {
    font-family: monospace;
    text-align: right;
}

.top-right-container {
    position: absolute; /* Make it positioned relative to viewport */
    top: 10px; /* Adjust top position from the top */
    right: 10px; /* Adjust right position from the right */
    padding: 5px 10px; /* Add some padding */
    background-color: #e5f5f5; /* Optional background color */
    border-radius: 5px; /* Optional rounded corners */
  }
  
  .top-right-container a {
    color: #000; /* Text color for the link */
    text-decoration: none; /* Remove underline from the link */
  }
  
  .top-right-container a:hover {
    background-color: #ddd; /* Optional background color on hover */
  }