/* cities page css file */
:root {
    --clr-table: rgba(0, 0, 0, 0.75);
}

table {
    border: 1px solid var(--clr-table);
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid var(--clr-table);
    padding: 0.25rem 1rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
}

thead {
    background-color: var(--clr-table);
}

thead th {
    color: whitesmoke;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.fit {
    width: 1px;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.number {
    font-family: monospace;
    text-align: right;
}

.top-right-container {
    position: absolute; /* Make it positioned relative to viewport */
    top: 15px; /* Adjust top position from the top */
    right: 15px; /* Adjust right position from the right */
    bottom: 635px;
    display: flex; /* Make container a flexbox */
    align-items: center; /* Align content vertically */
    text-align: center;
    border-radius: 5px; /* Optional rounded corners */
    padding: 0px 15px; /* Add some padding */
    background-color: #e5f5f5; /* Optional background color */
    font-size: small;
  }
  
  .top-right-container img {
    margin-right: auto; /* Add margin for spacing */
    width: 20%;
  }
  
  .top-right-container a {
    color: #000; /* Text color for the link */
    text-decoration: none; /* Remove underline from the link */
  }
  
  .top-right-container a:hover {
    background-color: #ddd; /* Optional background color on hover */
  }

  .intro-container {
    align-items: center; /* Align content vertically */
    border-radius: 5px; /* Optional rounded corners */
    padding: 20px 40px; /* Add some padding */
    background-color: #d1f0f0; /* Optional background color */
  }