html,
/* Basic Styles */
body {
  font-family: Arial, sans-serif; /* Set a base font family */
  margin: 1; /* Remove default margin from body */
  padding: 0; /* Remove default padding from body */
  color: #000000; /* Set link color */
}

h1, h2, h3, h4 {
  margin: 1em 0; /* Set some margin for headings */
}

a {
  text-decoration: none; /* Remove underline from links */
  color: #09090a; /* Set link color */
}

a:hover {
  color: #0056b3; /* Change link color on hover */
}

/* Header Styles */
header {
  background-color: #885ab7; /* Light background for header */
  padding: 1rem 2rem; /* Add some padding for header content */
}

h1 {
  font-size: 2em; /* Increase font size for main heading */
  text-align: center; /* Center content horizontally */
}

/* Update your nav styles */
nav {
  display: grid; /* Enable grid layout */
  text-align: center; /* Center content horizontally */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Define columns */
  background-color: #dcf5fa; /* Light background for navigation */
  padding: 1rem; /* Add some padding for navigation links */
}

nav a {
  margin: 0; /* Remove default margin from links */
}



/* Image Styles */
.image-container {
  text-align: center; /* Center the image horizontally */
  margin: 2rem auto; /* Add margin around the image container */
}

img {
  width: 60%; /* Set a width for the image */
}

/* About Section Styles */
section.explore-population {
  margin-top: 2rem; /* Add margin above the explore section */
}

/* Footer Styles */
footer {
  text-align: center; /* Center the footer content */
  padding: 1rem; /* Add some padding for footer content */
  background-color: #add4fa; /* Light background for footer */
}
