extends layout.pug
block appContent
    title Account
    link(rel="stylesheet", href="account.css")
    .container
        h2.text-center Account Information
        .account-info.text-center
            p Your registered email: #{user.email}
            // Add more user information here if needed
        .text-center
            form(action="/logout" method="POST")
                button.btn.btn-logout(type="submit") Logout