h1 
    a(href="/") World Pop 
h4    
    nav
        a(href='/allCities') Cities

        a(href='/allCountries') Countries
        
        a(href='/allLanguages') Languages

        a(href='/allPopulation') Population
