extends layout.pug
block content 
    h1 Hello Welcome to our Application!
    a(href='//localhost:3000/allCities') Cities, 

    a(href='//localhost:3000/allCountries') Countries, 

    a(href='//localhost:3000/allLanguages') Languages,

    h3 This is the welcome page
    p ----------------------------------------
    p Introduction to users and what our website is for.
    p -------------------------------------------------
    
//- all this is from the exercise and can be used as a template for when developement actually starts
