extends layout 
block content 
    h1 #{heading} 
    p This will display countries
    p now lets loop
    each item in data 
        p #{item} 

//- all this is from the exercise and can be used as a template for when developement actually starts
