extends layout.pug
block appContent 
    title WorldPop  
    div.image-container 
        img(src="web.jpg", alt="World Map")
    body
        h3 About WorldPop
        p A paragraph describing WorldPop's purpose and mission. 
        p ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        p ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        p ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        p ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        
        section.explore-population
        h3 Explore Population Data
        ul
            li 
                a(href="/continents") Population by Continents
            li 
                a(href="/regions") Population by Regions
            li 
                a(href="/districts") Population by Districts
    
//- all this is from the exercise and can be used as a template for when developement actually starts

//- hj