extends layout.pug
block appContent

  title Languages
  h2 All Languages 
  table(border=1)
    thead
      tr
        th Country Code
        th Language
        th Is Official
        th Percentage
    tbody
      each row, i in rows 
        tr
          td #{row.CountryCode}
          td #{row.Language}
          td #{row.IsOfficial}
          td #{row.Percentage}

