extends layout.pug
block appContent

    title Login
    link(rel="stylesheet", href="L&R.css")
    .container
        h2 Welcome Back!
        form(action="/authenticate", method="POST")
          .form-group
            label(for="email")
            input(type="email", name="email", placeholder="Email *", required)
          .form-group
            label(for="password")
            input(type="password", name="password", placeholder="Password *", required)
          p
            a(href="/register") New User? Register Here
          button(type="submit") Log In
