extends layout

block appContent
    title Login
    link(rel="stylesheet", href="login.css")
    .container
        h1 Login To World Pop
        form(action="/authenticate", method="POST")
            .form-group
                label(for="email") Enter Your Email:
                input(type="text", name="email", required)
            .form-group
                label(for="password") Enter Your Password:
                input(type="password", name="password", required)
            button(type="submit") Login