extends layout.pug

block appContent
  title Population by Continent

  // Form markup
  form(id="continentForm")
    div
      label(for="continent") Select Continent:
      select(id="continent", name="continent")
        option(value="") -- Select Continent --
        each continent in continents
          option(value=continent)= continent

    button(type="submit") Display Population

  // Display population data in a table
  if populationData && populationData.length > 0
    table
      thead
        tr
          th Continent
          th Population
      tbody
        each data in populationData
          tr
            td= data.name
            td= data.population
  else
    p No population data available.
