extends layout.pug

block appContent
  title Population

  h2 Population of All Countries

  table(border="1")
    thead
      tr
        th Country
        th Continent
        th Population
    tbody
      each country in populationData
        tr
          td= country.Country
          td= country.Continent
          td= country.Population
