extends layout.pug
block appContent

  link(rel="stylesheet", href="button.css")
  title Population

  h2 Population of All Countries
  form(action="/allPopulation", method="GET")
    button(type="submit" name="sort" value="asc") Sort by Population (Ascending)
    button(type="submit" name="sort" value="desc") Sort by Population (Descending)

  table(border="1")
    thead
      tr
        th Continent
        th Country
        th Population
    tbody
      each country in populationData
        tr
          td= country.Continent
          td= country.Country
          td= country.Population
