doctype html 
html(lang="e")
    body 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Register
    link(rel="stylesheet", href="L&R.css")

    .container
        h1 Register Here!
        form(action='/set-password' method='POST')
            .form-group
                label(for="email") Enter Your Email:
                span.req *
                input(type="text", name="email", required)
            .form-group
                label(for="password") Enter Your Password:
                span.req *
                input(type="password", name="password", required)
            p
                a(href="/login")  Already Have an Account? Log In Here
            button(type="submit") Sign Up