extends layout
block appContent
    title Login
    link(rel="stylesheet", href="login.css")

    .container
        h1 Register Here!
        form(action='/set-password' method='POST')
            .form-group
                label(for="email") Enter Your Email:
                span.req *
                input(type="text", name="email", required)
            .form-group
                label(for="password") Enter Your Password:
                span.req *
                input(type="password", name="password", required)
            p
                a(href="/login")  Already Have an Account? Log In Here
            button(type="submit") Sign Up