extends layout.pug
block appContent
    title Register
    link(rel="stylesheet", href="L&R.css")
    .container
        h2 Register Here!
        form(action='/api/register' method='POST') // Corrected form action
          .form-group
            label(for="email") Email
            input(type="email", name="email", placeholder="Email", required)
          .form-group
            label(for="password") Password
            input(type="password", name="password", placeholder="Password", required)
          p
              a(href="/login") Already Have an Account? Log In Here
          button(type="submit") Sign Up